
.tjh_banner {
  color: black;
  text-align: right;
  padding: 32px;
  border-bottom: solid 3px black;
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  align-items: center;
}

.tjh_logo {
  width: 45px;
  height: 45px;
}

.tjh_title {
  padding-left: 32px;
}
